<app-header></app-header>
<main id="about">
  <h1 class="lg-heading">About <span class="text-secondary">Me</span></h1>
  <h2 class="sm-heading">
    Let me tell you a few things...
  </h2>
  <div class="about-info">
    <img
      src="../../assets/img/smallprofile.png"
      alt="Brian Kim"
      class="bio-image"
    />
    <div class="bio">
      <h3 class="text-secondary">How I get into programming</h3>
      <p>
        After I finished uni studying Accounting, I did a couple of internships
        and was not quite happy with preparing reports, entering sales figures
        and dealing with lots of debits and credits. One day, I read a book
        about 4th generation and it told me that everyone can code and make an
        application.I started learning coding from youtube and other websites,
        and I found it is fantastic and concentrate to it from my heart.
      </p>
    </div>
    <div class="job job-1">
      <h3>Macquarie University</h3>
      <h5>Bachelor of Professional Accounting</h5>
      <p>
        Achieved distinctions in Management Accounting, Financial Management and
        Financial Report Analysis
      </p>
      <p>
        Finished Internshps at 1001 Optical, Travel Edge and R Vision as an
        accounting intern
      </p>
      <p>Work full-time at Pre-Uni New College, H Accounting</p>
    </div>
    <div class="job job-2">
      <h3>TAFE Hornsby NSW</h3>
      <h5>Cert IV - programming</h5>
      <p>
        Learned programming languages like Java and C#. Used MySQL and solved
        different case scenarios that requires complicated database design.
      </p>
      <p>
        Made simple airport booking application with WPF in .Net Framework.
        Rrepared report for project management illustrating client requirement,
        project cope, high-level view on project etc.
      </p>
    </div>
    <div class="job job-3">
      <h3>TAFE Hornsby NSW</h3>
      <h5>Diploma - Web Development</h5>
      <p>
        Learn web segment of programming and basic usage of PHP, Javascript,
        HTML and CSS.
      </p>
      <p>
        Dropped out thecourse due to insufficiency of learning programing skills
        from the course, for example reports on copyright, ethics and lots of
        time spent on desgin tools like Adobe and assessment purpose reports.
      </p>
      <p>
        Since then I have self-taught in web programming and try to be
        full-stack developer.
      </p>
    </div>
  </div>
</main>
<app-footer></app-footer>
