<app-header></app-header>
<main id="contact">
  <h1 class="lg-heading">Contact <span class="text-secondary">Me</span></h1>
  <h2 class="sm-heading">
    This is how you can reach me...
  </h2>
  <div class="boxes">
    <div>
      <span class="text-secondary">Email: </span>
      briancjkim91@gmail.com
    </div>
    <div>
      <span class="text-secondary">Address: </span>
      Brisbane
    </div>
    <a
      href="https://linkedin.com/in/brian-chanjong-kim-2b8a9a92/"
      target="_blank"
    >
      <div>
        <span class="text-secondary">LinkedIn: </span>
        www.linkedin.com/in/brian-chanjong-kim-2b8a9a92/
      </div>
    </a>
  </div>
</main>
<app-footer></app-footer>
