<!-- change body->div -->
<div id="bg-img">
  <app-header></app-header>
  <main id="home">
    <h1 class="lg-heading">Brian <span class="text-secondary">Kim</span></h1>
    <h2 class="sm-heading">
      Web Developer, Programmer, Designer & Entrepreneur
    </h2>
    <div class="icons">
      <a href="https://linkedin.com/in/brian-chanjong-kim-2b8a9a92/"
        ><i class="fab fa-linkedin fa-2x"></i
      ></a>
      <a href="https://github.com/rlackswhd91"
        ><i class="fab fa-github fa-2x"></i
      ></a>
    </div>
  </main>
  <!-- <script src="js/main.js"></script> -->
</div>
